.root {
  display: grid;
  grid-template-areas:
    'right'
    'left'
    'left'
    'left'
    'left';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  height: 100vh;
  width: 100vw;

  background-color: var(--dark-bg-color-op-50);
}

.left {
  overflow: auto;

  display: flex;
  grid-area: left;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  background-color: var(--light-bg-color-op-80);
}

.right {
  display: flex;
  grid-area: right;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 576px) {
  .left {
    padding: 20px 50px;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 30px 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .left {
    padding: 40px 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    grid-template-areas: 'left right';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .left {
    padding: 50px;
  }
}

@media only screen and (min-width: 1920px) {
  .left {
    padding: 50px 200px;
  }
}

@media only screen and (min-width: 2560px) {
  .left {
    padding: 50px 300px;
  }
}
