.root {
  position: relative;
  display: grid;
  grid-template-areas:
    'left'
    'left'
    'right'
    'right';
  grid-template-columns: minmax(365px, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;

  height: 100vh;
  width: 100vw;

  padding: 5px;
}

.root::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  margin: 5px;

  border-radius: 25px;
  box-shadow: 0 0 5px var(--black);
}

.left {
  overflow: auto;

  display: grid;
  grid-area: left;

  justify-items: center;

  grid-template-areas:
    'ui'
    'c'
    'b'
    'lb';
  grid-template-columns: 1fr;

  padding: 5px;

  background-color: var(--light-bg-color-op-80);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.right {
  display: flex;
  grid-area: right;
  flex-direction: column;
  align-items: center;

  padding: 5px;

  background-color: var(--white);

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.user-info {
  display: flex;
  justify-content: center;

  grid-area: ui;
}

.calendar {
  display: flex;

  grid-area: c;

  margin-top: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;

  grid-area: b;

  margin-top: 25px;
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin-bottom: 25px;

  font-family: var(--comfortaa);
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;

  color: var(--black-light);
}

.icon {
  margin-right: 15px;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: lb;

  min-height: 50px !important;

  margin-top: 25px;
}

@media only screen and (min-width: 576px) {
  .root {
    padding: 10px;
  }

  .root::before {
    margin: 10px;

    box-shadow: 0 0 10px var(--black);
  }

  .left {
    padding: 10px;
  }

  .right {
    padding: 10px;
  }

  .calendar {
    margin-top: 10px;
  }

  .buttons {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    display: grid;
    grid-area: left;
    align-items: flex-start;
    grid-template-areas:
      'ui lb'
      'c b';
    grid-template-columns: 1fr 1fr;
  }

  .calendar {
    margin-top: 15px;
  }

  .buttons {
    width: 100%;
  }

  .logout-button {
    margin-top: unset;
  }
}

@media only screen and (min-width: 992px) {
  .root {
    grid-template-areas: 'left right';
    grid-template-columns: 380px 1fr;
    grid-template-rows: 1fr;

    padding: 15px;
  }

  .root::before {
    margin: 15px;

    box-shadow: 0 0 15px var(--black);
  }

  .left {
    align-content: flex-start;
    grid-template-areas:
      'ui'
      'c'
      'b'
      'lb';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr;

    padding: 15px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .right {
    padding: 15px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .user-info {
    justify-content: flex-start;
  }

  .calendar {
    margin-top: 20px;
  }

  .buttons {
    margin-top: 45px;
  }

  .logout-button {
    margin-top: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    padding: 20px;
  }

  .root::before {
    margin: 20px;

    box-shadow: 0 0 20px var(--black);
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
  }

  .calendar {
    margin-top: 25px;
  }

  .buttons {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .root {
    padding: 25px;
  }

  .root::before {
    margin: 25px;

    box-shadow: 0 0 25px var(--black);
  }

  .left {
    padding: 25px;
  }

  .right {
    padding: 25px;
  }
}
