html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background: url('../assets/images/root-bg-01.jpg');
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
textarea {
  font-family: var(--comfortaa);
  color: var(--black-light);
}

:root {
  --white: #ffffff;
  --black: #000000;

  --black-light: #292d2e;
  --gray-light: #d0cfcf;
  --gray-lighter: #f5f5f5;

  --blue: #228be6;
  --blue-hover: #066ec9;
  --gold: #fdcb04;

  --light-bg-color-op-50: rgba(255, 255, 255, 0.5);
  --light-bg-color-op-80: rgba(255, 255, 255, 0.8);
  --dark-bg-color-op-50: rgba(0, 0, 0, 0.5);

  --zen-tokyo-zoo: 'Zen Tokyo Zoo', sans-serif;
  --comfortaa: 'Comfortaa Variable', sans-serif;

  --box-shadow-small: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-medium: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);

  --text-shadow-big: 8px 8px 8px var(--black);
}
